@import '@/global.less';

.searchHead{
    .ccFlexColumn();
    width:100%;
    min-height: 40px;
    background-color: #fafafa;
    cursor: pointer;
}
.searchHeadContent{
    .ccFlexColumn();
    box-shadow: 0px 0px 1px #cfcfcf;
    width:96%;
    height:90%;
    border-radius: 20px;
    background-color: white;
    color:black;
}